* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #050509;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

#repeat-indicator {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #27324b;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 600px) {
    #prompt-text {
        rotate: 90deg;
    }
}